// paleta de colores
$naranja-suave: #f4b93a;
$naranja: #F5A800;
$blanco: white;
$gris-azulado: #323E48;

// font
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fuente: "Raleway";