// paleta de colores
$naranja-suave: #f4b93a;
$naranja-massuave: #f6e9ce;
$naranja: #F5A800;
$blanco: white;
$gris-azulado: #323E48;

// font
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fuente: "Raleway";

// tamaño fuentes
$h1: 30px;
$h2: 24px;
$h3: 21px;
$parrafo: 20px;

// iconos
.fa-whatsapp {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 0 5px;
}

.fa-cloud-showers-heavy {
    color: #4a5e6d;
    padding: 0 5px;
}

.fa-twitter {
    color: $gris-azulado;
    padding: 0 10px;
}

.fa-facebook {
    color: $gris-azulado;
    padding: 0 10px;
}

.fa-instagram{
    color: $gris-azulado;
    padding: 0 10px;
}