.main-imperdibles {
    div {
        img {
            width: 100%;
        }
    }

    h1 {
        @include titulo-destacado;
    }

    section {
        @extend .parrafo
    }

    .maps {
        display: flex;
        justify-content: center;
        margin: 40px;
    }
}