.main-informacion {
    min-height: 80vh;

    .maps {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    h1 {
        font-size: $h1;
        color: $gris-azulado;
        margin: 10px 50px;
    }

    h2 {
        font-size: $h2;
        color: $gris-azulado;
        margin: 10px 50px;
    }

    p {
        font-size: $parrafo;
        color: $gris-azulado;
        margin: 10px 50px;
    }
}