.main-index {
    min-height: 80vh;

    div {
        img {
            width: 100%;
        }
    }

    .barra {
        background-color: $naranja;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 25px;
        list-style: none;
        text-align: left;

        a {
            font-size: $h1;
            color: $blanco;
            text-decoration: none;
            padding: 0 10px;
        }

        p {
            font-size: $parrafo;
            color: $blanco;
            padding: 0 10px;
        }

    }


    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

        img {
            width: 310px;
            padding: 10px 10px 0 10px;
        }

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;

            h2 {
                background-color: #1ecad3;
                width: 290px;
                height: 50px;
                font-size: $h2;
                text-align: center;
                padding: 10px;
                color: $blanco;
            }
        }
    }
}

@media(max-width: 775px) {
    .main-index {
        .barra {
            text-align: center;
        }
    }
}