.main-index {
    div {
        img {
            width: 100%;
        }
    }

    ul {
        background-color: $naranja;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        a {
            font-size: $h1;
            color: $blanco;
            text-decoration: none;
            padding: 50px;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

        img {
            width: 305px;
            padding: 5px;
        }

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;

            h2 {
                font-size: $h2;
                color: $gris-azulado;
            }
        }
    }
}





@media(max-width: 780px) {
    .main-index {
        ul {
            flex-direction: column;
            width: 100%;
            height: 180px;
            padding: 10px 0 0 0;

            li {
                height: 50px;

                a {
                    font-size: $h2;
                }
            }
        }
    }
}
