.maps {
    display: flex;
    justify-content: center;
}

.main-informacion {
    margin: 50px;
}

.main-informacion h1 {
    font-size: 28px;
    color: #323E48;
}

.main-informacion h2 {
    font-size: 24px;
    color: #323E48;
}

.main-informacion p {
    font-size: 18px;
    color: #3b454e;
}